.intro {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 100px auto;
  display: block;
}

.i-am {
  font-size: 62px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sara {
  font-size: 140px;
  font-weight: bolder;
  padding: 0;
  margin: -15px;
}
